@model BDT.ViewModels.SessionViewModel

@Html.HiddenFor(model => model.Session.Id)

<div class="editor-label">
    @Html.LabelFor(model => model.Session.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Session.Name)
    @Html.ValidationMessageFor(model => model.Session.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Session.Seats)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Session.Seats)
    @Html.ValidationMessageFor(model => model.Session.Seats)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Session.Seats)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Session.LocationId, new SelectList(Model.Locations, "Value", "Text"))
    @Html.ValidationMessageFor(model => model.Session.Seats)
</div>

<a class="btn btn-success" id="addSession" href="@Url.Action("Dates", "Sessions", new {id = Model.Session.Id})">
    <i class="icon-plus icon-white"></i> Add Dates
</a>

@{
    if (Model.Session.SessionDates != null)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.Session.SessionDates)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Session.SessionDates, "SessionDates")        
        </div>
    }
}

@{
    if (Model.Session.Instructors != null)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.Session.Instructors)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Session.Instructors, "SessionDates")        
        </div>
    }
}

<link href="../../Content/chosen.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/libs/chosen.min.js" type="text/javascript"></script>
<script>
    $(function () {
        $('.chosen').chosen();
    });
</script>