@model IEnumerable<BDT.Domain.Entities.Session>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create")">
        <i class="icon-plus icon-white"></i> New
    </a>
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Location
        </th>
        <th>
            Instructor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
@*        <td>
            @Html.DropDownListFor(modelItem => item.Locations, item.Locations.Select(loc => new SelectListItem{ Text = loc.Name }))
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
